@import '../../style/variables';

.artistSong {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: $artistSong_height;
    padding: $base-unit;
    margin: $base-unit 0;
    border-radius: $standard-border-radius;
    background-color: $opaque-background-color;

    @media only screen and (min-width: $medium-screen-min-width) {
        flex-direction: row;
    }

    @media only screen and (min-width: $large-screen-min-width) {
        display: inline-flex;
        width: 49%;

        &:nth-child(odd) {
            margin-right: 2%;
        }
    }
}
.artistSong__artworkAndPlayButtonWrapper {
    width: $artistSong__artwork_height;
    margin-bottom: $base-unit;
    flex-basis: $artistSong__artwork_height;
    text-align: center;

    @media only screen and (min-width: $medium-screen-min-width) {
        margin: 0 $base-unit 0 0;
    }
}
.artistSong__artworkWrapper {
    height: $artistSong__artwork_height;
    width: $artistSong__artwork_height;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-bottom: $base-unit;
}
.artistSong__artwork {
    @include artwork($artistSong__artwork_height);
}
.artistSong_title {
    @include break-word();
    hyphens: auto;
    margin: 0 0 ($base-unit * 0.5);
}
.artistSong_permalinkUrl {
    @include break-word();
    color: white;
}
.artistSong_playButton {
    height: $artistSong_playButton_height;
    width: $artistSong_playButton_height;
    padding: 0;
    background: none;
    @include button-base();
}