@import '../../style/variables';

.artistSong {
    min-height: $artistSong_height;
    margin: $base-unit 0;
    background-color: $opaque-background-color;
}
.artistSong__artwork {
    height: 100px;
    width: 100px;
}
.artistSong_playButton {
    color: white;
}