@import '../../style/variables';

.artistPage {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.artistPage__overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.artistPage__detailsAndSongs {
    position: absolute;
    height: 100%;
    width: calc(100% - 48px);
    top: 0;
    right: 0;
    background: rgb(35, 84, 133);
    background: linear-gradient(0deg, rgb(190, 90, 19) 0%, rgb(210, 70, 20) 50%, rgb(226, 43, 40) 100%);
    overflow: scroll;
}
.artistPage__songList {
    padding: $base-unit;
    margin: 0;
    list-style: none;
}