$base-unit: 16px;

// heights
$artistList__artistButton_height: $base-unit * 8;
$artistSong_height: $base-unit * 8;
$musicPlayer_height: $base-unit * 6;
$musicPlayer__durationBar_height: $base-unit * 0.5;