$base-unit: 16px;

$standard-border-radius: $base-unit * 0.5;

$opaque-background-color: rgba(0, 0, 0, 0.5);

// heights
$artistList__artistButton_height: $base-unit * 7;
$artistButton__avatar_height: $artistList__artistButton_height - ($base-unit * 3);
$artistSong_height: $base-unit * 8;
$artistSong_playButton_height: $base-unit * 3;
$artistSong__artwork_height: $base-unit * 4;
$musicPlayer_height: $base-unit * 6;
$musicPlayer__durationBar_height: $base-unit * 0.5;
$musicPlayer__thumbnail_height: $base-unit * 5;
$musicPlayer__audioControlsButton_height: $base-unit * 2.5 - 1px;

// widths
$artistList_medium-screen-width: $base-unit * 24;
$musicPlayer__audioControlsButton_width: $base-unit * 4.5;

// media query values
$medium-screen-min-width: 768px;
$large-screen-min-width: 1025px;

@mixin artwork-wrapper($size) {
    height: $size;
    flex-basis: $size;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-right: $base-unit;
}

@mixin artwork($size) {
    max-height: $size;
    max-width: $size;
    border-radius: $standard-border-radius;
}

@mixin break-word() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

@mixin button-base() {
    border: 1px solid white;
    border-radius: $standard-border-radius;
    color: white;
    -webkit-appearance: none;
    cursor: pointer;
}