@import '../../style/variables';

.artistButton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: $artistList__artistButton-height;
    width: 100%;
    padding: $base-unit;
    margin: $base-unit 0;
    background-color: $opaque-background-color;
    text-align: left;
    @include button-base();
}
.artistButton__avatarWrapper {
    @include artwork-wrapper($artistButton__avatar_height);
}
.artistButton__avatar {
    @include artwork($artistButton__avatar_height);
}
.artistButton__username {
    margin: 0 0 ($base-unit * 0.5);
    @include break-word();
}